.titlebar{
    background-color:#da3327;
    color:white;
    height:600px;
    position:relative;
}

#address {
    display:inline;
    position:absolute;
    left:1450px;
}


#nameandtime {
    display:inline;
}

#pizza {
    position:absolute;
    top:60px;
    width: 1300px;
    height: 525px;
    right: 250px;
    filter:brightness(50%);
}

#main-title {

    position: absolute;
    left:450px;
    font-size: 100px;
    color: white;

}
#logo {
    width: 100px;
    height: 100px;
    background-color: transparent;
}
